{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | Broez site admin{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Broez admin portal</a></h1>
{% endblock %}

{% block welcome-msg %}
    {% trans 'Hey,' %}
    <strong>{% firstof user.get_short_name user.get_username %}</strong>.
{% endblock %}

{% block userlinks %}
    <a href="">{% trans 'View Site' %}</a> /

    {% if user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}

    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}

{% block nav-global %}{% endblock %}
